*{
    padding: 0.5rem; 
}
body{
    background-color: aliceblue;
    font-family:monospace;
}

.questions{
    justify-content:center;
}

.btn {
    width: 30px;
}

h1{
    display: flex;
    justify-content: center;
}
.que1{
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}
.ans{
    background-color: white;
    display:none;
    border-radius: 5px;
}

.toggleAns{
    display: block;
}

.question-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
}
